body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.container {
  width: 800px;
  margin: 0 auto;
}