body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.fa-star {
  color: goldenrod;
}
.fa-car {
    color: steelblue;
}
.fa-leaf {
  color: olivedrab;
}
.fa-tag {
  color: mediumpurple;
}
.fa-birthday-cake {
  color: hotpink;
}
.fa-key {
  color: #666;
}